name: test

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 20
          - 18
          - 16

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: test
        run: pnpm run test
